.galeria{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    border: 2px solid black;
}

.foto{
    margin: 10px;
    border: 2px solid black;
}

.naves{
    padding: 2px 8px;
    border: 2px solid black;
    text-align: center;
    flex: 1 1 0;
    min-width: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}

#logo{
    width: 6rem;
    height: 6rem;
    
}

#tit{
    margin: 0px;
    margin-left: 0.3rem;
    font-family: 'Lora', serif;
}



.painel{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 200px 200px 200px;
    gap: 8px;
    padding: 10px;
    border: 2px solid blue;
    width: 70%;
    margin: 0 auto; 
}

.painel img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.painel1 {
  grid-column: 1;
  grid-row: 1 / 3;
}
.painel2 {
  grid-column: 2;
  grid-row: 1;
}
.painel3 {
  grid-column: 3;
  grid-row: 1;
}
.painel4 {
  grid-column: 2;
  grid-row: 2 / 4;
}
.painel5 {
  grid-column: 1;
  grid-row: 3;
}
.painel6 {
  grid-column: 3;
  grid-row: 2 / 4;  
}



